<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password though the FarmBoard Application. You can do this through the link below.</p>

<p>
  <%= link_to 'Change my password', "https://farmboard.farmspheredynamics.com/--/password/edit?token=#{@token}" %>
</p>

<p>If you are having any issues clicking the link above, copy and paste this into your browser or into your iOS device:</p>
<p>https://farmboard.farmspheredynamics.com/--/password/edit?token=<%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
